.producerPage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profileBanner {
    position: relative;
    margin-top: 100px;
    justify-content: center;
    margin-left: 400px;
   
}

.banner {
    width: 52%;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.profileimg {
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
    height: 150px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.profile {
    display: flex;
    
}

.name {
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
}

.name__1 {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.name__2 {
    color: white;
}

.role__1 {
    height: 20px;
    margin-left: 20px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.shorth3 {
    color: black;
}

.proyects {
    
    margin-top: 0px;
    padding-bottom: 50px;
    top: 0;
    left: 1;
    z-index: -10;
    padding-top: 20px;
    padding-left: 20px;
    min-height: 200px;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 24px 24px;
}

.container_shorts {
    display: flex;
    width: 93%;
    height:100px;
    padding-bottom:20px;
    padding-left:20px;
    margin-right:30px;
    flex-direction: column;
    overflow: scroll;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-radius: 9px;
    border-width: 2px;
    
}

.shortElem {
    margin-top:20px;
    display: flex;
    width: 100%;
    align-content: space-around;
}

.title {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(82, 82, 82);
}

.shortdiv {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width:30%;
}

.shortimgContainer{
    width:50%;
    height:50px;
}

.shortimg {
    width: 100%;
    height:100%;
    margin-left:30px;
    object-fit: cover;
    justify-content: center;
    align-content: center;
    margin-top:5px;
   
   
    
   
}

.genre{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cacaca;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width:40%;
}
