.descripInput{

}

form{
    margin-top:60px;
    margin-left:50px;
    
}
select{
    padding:5px 10px 5px 10px;
    border-width: 1.5px;
    border-color:gray;
    border-style:solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

textarea{
    padding:5px 10px 5px 10px;
    border-width: 1.5px;
    border-color:gray;
    border-style:solid;
    border-radius: 10px;
    margin-bottom: 10px;

}
input{
    padding:5px 10px 5px 10px;
    border-width: 1.5px;
    border-color:gray;
    border-style:solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
label{
    display: flex;
    margin-top:20px;
    margin-bottom: 10px;

}

